name: Manual CI

on:
  workflow_dispatch:

jobs:
  build-ubuntu:
    name: Build (Ubuntu)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl
      - run: sudo apt-get install -y musl-tools
      - name: Build
        run: cargo build --release --target x86_64-unknown-linux-musl
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: xwin-ubuntu
          path: target/x86_64-unknown-linux-musl/release/xwin

  build-windows:
    name: Build (Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc
      - name: Build
        run: cargo build --release --target x86_64-pc-windows-msvc
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: xwin-windows
          path: target/x86_64-pc-windows-msvc/release/xwin.exe
